@using Investissement_WebClient.Application.DTO
@using System.Globalization

@foreach (var actif in InfoInvestParActif)
{
    <div class="un-actif">
        <div class="header">
            <label>@actif.Actif</label>
            <label>
                @actif.ValeurDetenue.Value.ToString("C", CultureInfo.GetCultureInfo("fr-FR"))
            </label>
        </div>
        <div class="content">
            <div class="item">
                @{
                    (string couleurVarVal, string signeVarVal) = DeterminerSigne(actif.VariationValeur.Value);
                    (string couleurVarPour, string signeVarPour) = DeterminerSigne(actif.VariationPourcentage.Value);
                }
                <span class="@couleurVarVal">
                    @(signeVarVal + actif.VariationValeur.Value.ToString("C", CultureInfo.GetCultureInfo("fr-FR")))
                </span>
                <span class="@couleurVarPour">
                    @(signeVarVal + actif.VariationPourcentage + "%")
                </span>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public IEnumerable<InfoInvestParActifDto> InfoInvestParActif { get; set; } = [];

    (string, string) DeterminerSigne(decimal valeur)
    {
        return valeur switch
        {
            > 0 => ("vert", "+"),
            < 0 => ("rouge", ""),
            _ => ("gris", "")
        };
    }
}
