@using Investissement_WebClient.Application.ChartsOptions
@using Investissement_WebClient.Application.ViewsModels.Graphiques.Investissements
@using Investissement_WebClient.Web.Components.ViewsModels

<div class="header">
    <label>Investissements</label>
    <div class="investissement-infos">
        <div class="form-grid">
            <label>Moyen mensuel</label>
            <div class="info" style="text-align: end">
                <span>@(Model.InvestissementMoyenMensuel == 0 ? "--,--" : Model.InvestissementMoyenMensuel.ToString("C"))</span>
            </div>

            <label>Total</label>
            <div class="info">
                <span>@(Model.InvestissementTotal == 0 ? "--,--" : Model.InvestissementTotal.ToString("C"))</span>
            </div>
        </div>
    </div>
</div>

<div class="investissement-content">
    <ApexChart TItem="InvestissementParMoisVM"
               XAxisType="XAxisType.Datetime"
               Options="ProfilChartsOptions.OptionsInvestissementParMois">

        <ApexPointSeries TItem="InvestissementParMoisVM"
                         Items="Model.InvestissementsParMois"
                         SeriesType="SeriesType.Line"
                         Name="Investissement"
                         YValue="@(e => e.Investissement)"
                         XValue="@(e => e.Date)"
                         Stroke="@(new SeriesStroke{ Width=3, Color="goldenrod" })" ShowDataLabels />

        <ApexPointSeries TItem="InvestissementParMoisVM"
                         Items="Model.InvestissementsParMois"
                         SeriesType="SeriesType.Line"
                         Name="Investissement moyen"
                         YValue="@(e => e.InvestissementMoyen)"
                         XValue="@(e => e.Date)"
                         Stroke="@(new SeriesStroke{ Width=3, DashSpace=2, Color="grey" })" />
    </ApexChart>
</div>

@code {
    [Parameter] public InvestissementViewModel Model { get; set; }
}
