@using Investissement_WebClient.Domain.Enums
@using Investissement_WebClient.Web.Components.ViewsModels

@inject IToastService TS

<div class="header">
    <label>Transactions</label>
    <button disabled="@(Model.DemandeEnCours)" type="button" class="btn-transactions" @onclick="RecupererTransactions">
        @if (Model.DemandeEnCours)
        {
            <img src="chargement.png" alt="..." />
        }
        else
        {
            <div>Récuperer mes transactions</div>
        }
    </button>
</div>

<div class="transactions-infos">
    <div class="form-grid">
        @if (Model.Etat == Etat.SmsRequis)
        {
            <label>Code sms</label>
            <div class="info">
                <input type="text" inputmode="numeric" maxlength="4" @bind="Model.CodeSms" placeholder="ex : 1234" />
            </div>
            <button type="button" class="btn-verifier" @onclick="VerifierCodeSms">Vérifier</button>
        }
        else
        {
            <span class="message">@Model.Message</span>
        }
    </div>
</div>

<div class="content">
    @if (Model.FluxInvestissement.Any())
    {
        @foreach (var transactionsParDate in Model.FluxInvestissement.GroupBy(i => i.Date.Date).OrderByDescending(i => i.Key)!)
        {
            <div class="mes-transactions-par-jour">
                <div class="mes-transactions-par-jour-header">
                    <label>@transactionsParDate.Key.ToString("D") &nbsp</label>
                    <span></span>
                    <label>@(transactionsParDate.Sum(tr => tr.Prix * tr.Quantite).ToString("C2"))</label>
                </div>
                <div class="mes-transactions-par-jour-content">
                    @foreach (var transaction in transactionsParDate)
                    {
                        <div class="une-transaction">
                            <span></span>
                            <span class="quantite">@transaction.Quantite&nbsp</span>
                            <span class="actif">@transaction.Actif à&nbsp</span>
                            <span class="prix">@transaction.Prix.ToString("C")</span>
                        </div>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>Commencez dès maintenant à suivre vos investissement en cliquant sur le bouton "Récuperer mes transactions"</p>
    }
</div>

@code {
    [Parameter] public required InvestissementViewModel Model { get; set; }

    private async Task RecupererTransactions()
    {
        if (Model.DemandeEnCours)
        {
            TS.ShowError("Veuillez patienter, une demande est déjà en cours");
            return;
        }

        await Model.DemandeCodeSms();

        if (Model.HasError)
        {
            TS.ShowError(Model.ErrorMessage);
            Model.ReinitiliserGestionErreur();
            Model.FinDeDemande();
            return;
        }

        TS.ShowSuccess(Model.Message);
    }


    private async Task VerifierCodeSms()
    {
        switch (await Model.VerfierCodeSms())
        {
            case null:
                TS.ShowError(Model.ErrorMessage);
                Model.ReinitiliserGestionErreur();
                Model.FinDeDemande();
                break;
            case false:
                TS.ShowWarning("Toutes les transactions ont déjà été récupérées.");
                break;
            default:
                TS.ShowSuccess("Les transactions on été récupérées avec succès !");
                break;

        }

        Model.FinDeDemande();
    }
}
