@using Investissement_WebClient.Web.Components.ViewsModels
@using Microsoft.AspNetCore.Authorization

@page "/"
@attribute [Authorize]
@inject NavigationManager Nav
@inject InvestissementViewModel IVM
@implements IDisposable
@inject IJSRuntime JS
@inject IToastService TS

<PageTitle>Investissement</PageTitle>

<div class="investissement">
    <div class="transactions">
        <_TransactionsInvestissement Model="@IVM"/>
    </div>

    <div class="investissement-moyen">
        <_InvestissementMoyen Model="@IVM" />
    </div>

    <div class="evolution-actifs">
        <div class="@(IVM.InfoInvestParActif.Any() ? "mes-actifs" : "")">
            @if (IVM.InfoInvestParActif.Any())
            {
                <_EvolutionActifs InfoInvestParActif="@IVM.InfoInvestParActif" />
                <_EvolutionActifs InfoInvestParActif="@IVM.InfoInvestParActif" />
            }
            else
            {
                <p>Ici vous pourrez voir l'évolution de tous les actifs dans lesquels vous investissez...</p>
            }
        </div>
    </div>
</div>

@code{
    [Parameter][SupplyParameterFromQuery(Name = "code")] public string? CodeRetour { get; set; }
    private CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        IVM.OnChange += StateHasChanged;

        if (CodeRetour != null)
        {
            await FinaliserConnexionBanque();
        }
        else
        {
            await IVM.LoadData();

            if (!IVM.FluxInvestissement.Any()) 
                TS.ShowWarning("ℹ️ Cliquez sur 'Récuperer mes transactions' pour commencer à suivre vos investissements.");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && IVM.FluxInvestissement.Any())
        {
            _ = LoadDataBoucle(_cts.Token);
        }
    }

    private async Task FinaliserConnexionBanque()
    {
        await IVM.FinaliserConnexionBanque(CodeRetour!);
        if (IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            return;
        }

        Nav.NavigateTo("/budget?sync=ok", replace: true);
    }

    private async Task LoadDataBoucle(CancellationToken stoppingToken)
    {
        try
        {
            while (!stoppingToken.IsCancellationRequested)
            {
                await Task.Delay(TimeSpan.FromMinutes(1), stoppingToken);

                await IVM.LoadDataPrixParActif();
                StateHasChanged();
            }
        }
        catch (OperationCanceledException) { Console.WriteLine("Arret du chargement investissement"); }
    }

    public void Dispose()
    {
        IVM.OnChange -= StateHasChanged;
        _cts.Cancel();
        _cts.Dispose();
    }
}

