@using Investissement_WebClient.Core.Modeles.DTO
@using Investissement_WebClient.UI.Components.ViewsModels

<EditForm Model="Mode" OnValidSubmit="Soumission">
    <DataAnnotationsValidator />
    
    <div class="ajout-edit-modele">
        
        <div class="ajout-edit-modele-header">
            <label>@(ModeleAjouter() ? "Ajouter un modele" : "Modifier un modèle")</label>
            <button disabled="@(!MVM.ActifEnregistre.Any() || !MVM.CompositionModele.Any())" type="submit" class="btn-ajouter-editer">@MVM.SelectedMode</button>
        </div>
        <div class="ajout-edit-modele-infos">
            <div class="mode">
                <div class="mode-ajout @(ModeleAjouter() ? "selected" : "")" @onclick="MVM.ChangeMode">
                    <label>Ajouter</label>
                </div>
                <div class="mode-edit @(ModeleAjouter() ? "" :  " selected")" @onclick="MVM.ChangeMode">
                    <label>Modifier</label>
                </div>
            </div>

            <div class="form-grid">
                @if (!ModeleAjouter())
                {
                    <label>Modèles</label>
                    <select value="@Mode.Id" @onchange="MVM.OnChangeModeleEdit">
                        <option value="0" disabled>-- Sélectionnez un modele --</option>
                        @foreach (ModeleCompositionDto modele in MVM.ModelesComposition)
                        {
                            <option value="@modele.Id">@modele.Nom</option>
                        }
                    </select>
                    if (Mode.Id != 0)
                    {
                        <InputText @bind-Value="Mode.Nom" placeholder="Nom" />
                    }
                }
                else
                {
                    <label>Nom du modèle</label>
                    <InputText @bind-Value="Mode.Nom" placeholder="Nom" />
                }
            
            </div>

        </div>

        <div class="ajout-edit-content">
            @foreach (TransactionDto transaction in CompositionModele)
            {
                <div class="actif-modele-investissement">
                    <div class="header">
                        <InputSelect TValue="int" @bind-Value="transaction.IdActif">
                            <option value="0" disabled> -- Sélectionnez un actif --</option>
                            @foreach (ActifDto actif in MVM.ActifEnregistre)
                            {
                                <option value="@actif.Id">@actif.Nom</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => transaction.IdActif)"/>

                        <div type="button" class="dell" @onclick="() => MVM.DellActifModele(transaction)">✕</div>
                    </div>
                    <div class="content">
                        <InputNumber @bind-Value="@transaction.Quantite" placeholder="Quantite"></InputNumber>
                        <ValidationMessage For="@(() => transaction.Quantite)"/>
                    </div>
                </div>
            }
            
            @if (MVM.ActifEnregistre.Count() != 0)
            {
                <div class="actif-modele-investissement add" @onclick="MVM.AddActifModele">
                    <a>+</a>
                </div>
            }
            else
            {
                <span>Enregistrer au moins un actif dans la section "Actif" pour @(ModeleAjouter() ? "ajouter" : "modifier") un modèle ...</span>
            }
        </div>
    </div>
    
</EditForm>


@code{
    [Parameter] public ModeleViewModel MVM { get; set; }
    [Parameter] public EventCallback Soumission { get; set; }

    private bool ModeleAjouter()
    {
        return MVM.SelectedMode == "Ajouter";
    }

    private ModeleDto Mode => ModeleAjouter() ?  MVM.SelectedModele : MVM.SelectedModeleEdit;
    private IEnumerable<TransactionDto> CompositionModele => MVM.SelectedMode == "Ajouter" ? MVM.CompositionModele : MVM.CompositionModeleEdit;
}