@using Investissement_WebClient.Core.Modeles
@using Investissement_WebClient.Core.Modeles.DTO
@using Investissement_WebClient.UI.Components.ViewsModels;

@page "/modele"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject IToastService TS
@inject ModeleViewModel MVM

<PageTitle>Modele</PageTitle>

<div class="modele">
    
    <Formulaire MVM="MVM" Soumission="Soumission"></Formulaire>
    
    <div class="mes-modele">
        <div class="mes-modele-header">
            <label>Modèles enregistrés</label>
        </div>
        <div class="mes-modeles-content">
            @foreach (ModeleCompositionDto modele in MVM.ModelesComposition)
            {
                <div class="un-modele @(MVM.ModelesAsuppr.Contains(modele.Id) ? "active" : null)" @onclick="() => MVM.ChangerEtatSuppression(modele.Id)">
                    <label>@modele.Nom</label>
                    @foreach (TransactionDto transaction in modele.Composition)
                    {
                        <div class="actif-modele">
                            @if (@transaction.Quantite != null)
                            {
                                 <span type="text">@transaction.Quantite &nbsp;</span> 
                            }
                            <span type="text">@transaction.NomActif</span>
                        </div>
                    }
                </div>
            }
        </div>

        @if (MVM.ModelesAsuppr.Count() != 0)
        {
            <div class="mes-modeles-footer">
                <button class="btn-suppr" @onclick="Supprimer">Supprimer</button>
            </div>
        }
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await MVM.LoadData();
    }

    private async Task Soumission()
    {
        if (MVM.SelectedMode == "Ajouter")
        {
            await Ajouter();
        }
        else
        {
            await Editer();
        }
    }

    async Task Ajouter()
    {
        await MVM.Ajouter();

        if (MVM.HasError)
        {
            TS.ShowError(MVM.ErrorMessage);
            MVM.HasError = false;
        }
        else
        {
            TS.ShowSuccess("Modèle ajouté avec succès !");
        }
    }

    async Task Editer()
    {
        await MVM.Editer();

        if (MVM.HasError)
        {
            TS.ShowError(MVM.ErrorMessage);
            MVM.HasError = false;
        }
        else
        {
            TS.ShowSuccess("Modèle modifié avec succès !");
        }
    }

    async Task Supprimer()
    {
        if (await JS.InvokeAsync<bool>("confirm", "Voulez-vous vraiment supprimer ce/ces modele(s) ?"))
        {
            await MVM.Supprimer();

            if (MVM.HasError)
            {
                TS.ShowError(MVM.ErrorMessage);
                MVM.HasError = false;
            }
            else
            {
                TS.ShowSuccess("Modèle(s) suprimé(s) avec succès !");
            }
        }
    }
}