@using Investissement_WebClient.Core.Modeles.DTO
@using Investissement_WebClient.UI.Components.ViewsModels
@using Investissement_WebClient.Core.Modeles.Graphiques;
@using System.Globalization

@page "/"
@* @rendermode InteractiveServer *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject InvestissementViewModel IVM
@implements IDisposable
@inject IJSRuntime JS
@inject IToastService TS

<PageTitle>Investissement</PageTitle>

<div class="investissement">
    <div class="transactions">
        <div class="header">
            <label>Transactions</label>
            <button disabled="@(IVM.Etat != "neutre")" type="button" class="btn-transactions" @onclick="RecupererTransactions">Récuperer les transactions</button>
        </div>

        <div class="transactions-infos">
            <div class="form-grid">
                @if(IVM.Etat == "sms-requis")
                {
                    <label>Code sms</label>
                    <div class="info">
                        <input type="text" inputmode="numeric" maxlength="4" @bind="IVM.CodeSms" placeholder="ex : 1234" />
                    </div>
                    <button type="button" class="btn-verifier" @onclick="VerifierCodeSms">Vérifier</button>
                }
                else if(IVM.Etat == "neutre" || IVM.Etat == "recherche")
                {
                    <span class="message">@IVM.Message</span>
                }
            </div>
           
        </div>

        <div class="content">
            @foreach (var transactionsParDate in IVM.Transactions.GroupBy(i => i.Date.Date).OrderByDescending(i => i.Key))
            {
                <div class="mes-transactions-par-jour">
                    <div class="mes-transactions-par-jour-header">
                        <label>@transactionsParDate.Key.ToString("D") &nbsp</label>
                        <span></span>
                        <label>@(transactionsParDate?.Sum(tr => tr.Prix * tr.Quantite)?.ToString("C2"))</label>
                    </div>
                    <div class="mes-transactions-par-jour-content">
                        @foreach (var transaction in transactionsParDate)
                        {
                            <div class="une-transaction">
                                    <span></span>
                                    <span class="quantite">@transaction.Quantite&nbsp</span>
                                    <span class="actif">@transaction.Actif à&nbsp</span>
                                    <span class="prix">@transaction.Prix?.ToString("C")</span>     
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="investissement-moyen">
        <div class="header">
            <label>Investissement</label>
            <div class="investissement-infos">
                <div class="form-grid">
                    <label>Moyen mensuel</label>
                    <div class="info" style="text-align: end">
                        <span>@IVM.InvestissementMoyenMensuel.ToString("C")</span>
                    </div>

                    <label>Total</label>
                    <div class="info">
                        <span>@IVM.InvestissementTotal.ToString("C")</span>
                    </div>
                </div>
            </div>
        </div>

        @if (IVM.InvestissementsParMois.Any())
        {
            <div class="investissement-content">
                <ApexChart TItem="InvestissementParMois"
                           XAxisType="XAxisType.Datetime"
                           Options="ChartOptionsProfil.OptionsInvestissementParMois">

                    <ApexPointSeries TItem="InvestissementParMois"
                                     Items="IVM.InvestissementsParMois"
                                     SeriesType="SeriesType.Line"
                                     Name="Investissement"
                                     YValue="@(e => e.Investissement)"
                                     XValue="@(e => e.Date)"
                                     Stroke="@(new SeriesStroke{ Width=3, Color="goldenrod" })"/>

                    <ApexPointSeries TItem="InvestissementParMois"
                                     Items="IVM.InvestissementsParMois"
                                     SeriesType="SeriesType.Line"
                                     Name="Investissement moyen"
                                     YValue="@(e => e.InvestissementMoyen)"
                                     XValue="@(e => e.Date)"
                                     Stroke="@(new SeriesStroke{ Width=3, DashSpace=2, Color="grey" })"/>
                </ApexChart>
            </div>
        }
    </div>

    <div class="evolution-actifs">
        <div class="header">
            <label>Evolution actifs</label>
        </div>

        <div class="mes-actifs">
            @foreach (var actif in IVM.InfoInvestParActif)
            {
                <div class="un-actif @(IVM.DeterminerSigne(actif.VariationPourcentage.Value))">
                    <div class="header">
                        <label>@actif.Actif</label>
                        <label>
                            @((actif.VariationPourcentage.Value > 0 ? "+" : ""))@actif.VariationPourcentage %
                        </label>
                    </div>
                    <div class="content">
                        <div class="item">
                            <span>Prix d'achat moyen</span>
                            <span>@actif.PrixAchatMoyen.Value.ToString("C", CultureInfo.GetCultureInfo("fr-FR"))</span>
                        </div>

                        <div class="item">
                            <span>Prix actuel</span>
                            <span>@actif.PrixActuel.Value.ToString("C", CultureInfo.GetCultureInfo("fr-FR"))</span>
                        </div>

                        <div class="item">
                            <span>Valeur</span>
                            <span>@actif.ValeurDetenue.Value.ToString("C", CultureInfo.GetCultureInfo("fr-FR"))</span>
                        </div>

                        <div class="item">
                            <span>Quantite Totale</span>
                            <span>@actif.QuantiteDetenue</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code{
    private CancellationTokenSource _cts = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await IVM.LoadData();
            _ = LoadDataBoucle(_cts.Token);
        }
    }

    private bool _demandeEnCours = false;

    private async Task RecupererTransactions()
    {
        if(_demandeEnCours)
            TS.ShowError("Veuillez patientez une demande est déjà en cours");

        _demandeEnCours = true;

        await IVM.DemandeCodeSms();

        if(IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            IVM.ErrorMessage = string.Empty;
            IVM.HasError = false;
            FinDeDemande();
            return;
        }

        TS.ShowSuccess(IVM.Message);
    }


    private async Task VerifierCodeSms()
    {
        await IVM.VerfierCodeSms();

        if (IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            IVM.ErrorMessage = string.Empty;
            IVM.HasError = false;
            FinDeDemande();
            return;
        }

        TS.ShowSuccess(IVM.Message);

        await ChargerTransactions();
    }

    private async Task ChargerTransactions()
    {
        await IVM.ChargerTransactions();

        FinDeDemande();

        if (IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            IVM.ErrorMessage = string.Empty;
            IVM.HasError = false;
            return;
        }
        TS.ShowSuccess("Les transactions on été chargées correctement.");

        await IVM.LoadData();
    }

    private void FinDeDemande()
    {
        IVM.Etat = "neutre";
        IVM.Message = "Aucune demande de récupération de transactions en cours ...";
        _demandeEnCours = false;
    }

    private async Task LoadDataBoucle(CancellationToken stoppingToken)
    {
        try
        {
            while (!stoppingToken.IsCancellationRequested)
            {
                await IVM.LoadDataPrixParActif();
                StateHasChanged();

                await Task.Delay(TimeSpan.FromMinutes(1), stoppingToken);
            }
        }
        catch (OperationCanceledException) { Console.WriteLine("Arret du chargement investissement"); }
    }

    // déclenchement lors du déclenchement du catch de LoadData (quand on change de page) pour stopper la boucle
    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }
}

