@using Investissement_WebClient.Web.Components.ViewsModels

@inject IToastService TS

<div class="header">
    <label>Flux @DateString</label>
    <button type="button" class="btn-transactions" @onclick="() => UpdateFluxMensuel()">Enregistrer les modifications</button>
</div>

<div class="content">
    <_SectionFlux Titre="Crédits"
                  IsCredit="true"
                  Flux="@Model.CreditsFluxMensuel"
                  Categories="@Model.Categories" />

    <_SectionFlux Titre="Débits"
                  IsCredit="false"
                  Flux="@Model.DebitsFluxMensuel"
                  Categories="@Model.Categories" />
</div>

@code {
    [Parameter] public required BudgetViewModel Model { get; set; }
    private DateTime Date => Model.DateEditMensuel;
    private string DateString => Model.DateEditMensuel.ToString("MMMM yyyy");

    private async Task GetTransactions()
    {
        try
        {
            await Model.GetFluxMensuel(Date);
        }
        catch (Exception e)
        {
            TS.ShowError(e.Message);
            return;
        }

        TS.ShowSuccess($"Données de {DateString} récupéré avec succès");

        await Model.LoadFluxCreditCoop();
        await Model.LoadFluxUnMois(Model.StatutMoisActif!);
    }

    private async Task UpdateFluxMensuel()
    {
        try
        {
            await Model.UpdateFluxMensuel();
        }
        catch(Exception ex)
        {
            TS.ShowError(ex.Message);
            return;
        }

        TS.ShowSuccess("Données enregistrées avec succès");

        await Model.LoadFluxCreditCoop();
        await Model.LoadFluxUnMois(Model.StatutMoisActif!);
    }
}