@using Investissement_WebClient.Web.Components.ViewsModels

@inject IToastService TS

<div class="header">
    <label>Flux @Model.DateActiveString</label>
    <button type="button" class="btn-transactions" @onclick="UpdateFluxMensuel">
        @if (Model.ActionEnCours)
        {
            <_Chargement/>
        }
        else
        {
            <div>Enregistrer les modifications</div>
        }
    </button>
</div>

<div class="content">
    <_SectionFlux Titre="Crédits"
                  IsCredit="true"
                  Flux="@Model.CreditsFluxMensuel"
                  Categories="@Model.Categories" />

    <_SectionFlux Titre="Débits"
                  IsCredit="false"
                  Flux="@Model.DebitsFluxMensuel"
                  Categories="@Model.Categories" />
</div>

@code {
    [Parameter] public required BudgetViewModel Model { get; set; }
    private DateTime Date => Model.DateEditMensuel;

    private async Task UpdateFluxMensuel()
    {
        await Model.UpdateFluxMensuel();

        if (Model.HasErreur)
        {
            TS.ShowError(Model.MessageErreur);
            Model.HasErreur = false;
            Model.MessageErreur = string.Empty;
            Model.ActionEnCours = false;
            return;
        }

        TS.ShowSuccess("Données mises à jour avec succès");
    }
}