@using Investissement_WebClient.Application.ViewsModels
@using Investissement_WebClient.Domain.Enums
@using Investissement_WebClient.Web.Components.ViewsModels

<div class="header">
    <label>Récapitulatif mensuel</label>
    <button type="button" class="btn-transactions" @onclick="Model.EditerMoisComplete">Modifier les flux</button>
</div>

<div class="recapitulatif">
    <div class="content">
        <ApexChart TItem="FluxCreditCoopVM"
                   Options="ChartsOptionsRecapBudgetMensuel.OptionsRecapitulatifBudgetMensuel">

            <ApexPointSeries TItem="FluxCreditCoopVM"
                             Items="@Model.FluxMensuel.Where(f => f.Valeur >= 0)"
                             Name="Crédits"
                             XValue="@(e => Model.Categories.FirstOrDefault(c => c.Id == e.IdCategorie).Libelle)"
                             YAggregate="@(e => e.Sum(f => f.Valeur))"
                             SeriesType="SeriesType.Bar"
                             Color="#00FF00" />

            <ApexPointSeries TItem="FluxCreditCoopVM"
                             Items="@Model.FluxMensuel.Where(f => f.Valeur < 0)"
                             Name="Débits"
                             XValue="@(e => Model.Categories.FirstOrDefault(c => c.Id == e.IdCategorie).Libelle)"
                             YAggregate="@(e => Math.Abs(e.Sum(f => f.Valeur)))"
                             SeriesType="SeriesType.Bar"
                             Color="#FF0000"/>
        </ApexChart>
    </div>
</div>

@code{
    [Parameter] public required BudgetViewModel Model { get; set; }
}
