@using Investissement_WebClient.Application.ViewsModels
@using Investissement_WebClient.Application.ViewsModels.Graphiques
@using Investissement_WebClient.Domain.Enums
@using Investissement_WebClient.Web.Components.ViewsModels

<div class="header">
    <label>Récapitulatif @Model.DateActiveString</label>
    <button type="button" class="btn-transactions" @onclick="Model.EditerMoisComplete">Modifier les flux</button>
</div>

<div class="recapitulatif">
    <div class="content">
        <ApexChart TItem="StatistiqueCategorieVM"
                   Options="ChartsOptionsRecapBudgetMensuel.OptionsRecapitulatifBudgetMensuel">

            <ApexPointSeries TItem="StatistiqueCategorieVM"
                             Items="Model.StatsGraphique"
                             Name="Crédits"
                             XValue="@(e =>  e.NomCategorie)"
                             YValue="@(e => e.TotalCredit)"
                             SeriesType="SeriesType.Bar" ShowDataLabels
                             Color="#00FF00" />

            <ApexPointSeries TItem="StatistiqueCategorieVM"
                             Items="Model.StatsGraphique"
                             Name="Débits"
                             XValue="@(e => e.NomCategorie)"
                             YValue="@(e => e.TotalDebit)"
                             SeriesType="SeriesType.Bar" ShowDataLabels
                             Color="#FF0000"/>
        </ApexChart>
    </div>
</div>

@code{
    [Parameter] public required BudgetViewModel Model { get; set; }
}
