@using Investissement_WebClient.Application.DTO
@using Investissement_WebClient.Application.ViewsModels

<div class="credits-debits">
    <label>@Titre</label>
    @foreach (var flux in Flux)
    {
        <div class="un-flux">
            <span>@flux.Date.ToString("dd MMM")</span>
            <span class="@(IsCredit ? "credit" : "debit")">@flux.Valeur €</span>
            <input type="text" @bind="@flux.LibelleRecu" />
            <select type="text" @bind="@flux.IdCategorie">
                <option value="0"></option>
                @foreach (var categorie in Categories)
                {
                    <option value="@categorie.Id">@categorie.Libelle</option>
                }
            </select>
        </div>
    }
</div>

@code {
    [Parameter] public required List<FluxCreditCoopVM> Flux { get; set; }
    [Parameter] public required IEnumerable<CategorieFluxDto> Categories { get; set; }
    [Parameter] public required string Titre { get; set; }
    [Parameter] public required bool IsCredit { get; set; }
}
