@using System.Runtime.InteropServices.JavaScript
@using Investissement_WebClient.Domain.Enums
@using Investissement_WebClient.Web.Components.ViewsModels

@page "/budget"
@inject BudgetViewModel BVM
@inject IToastService TS
@implements IDisposable

<PageTitle>Budget</PageTitle>

<div class="budget">

    <div class="flux">
        <_BudgetSidebar Model="@BVM" />
    </div>

    <div class="flux-stats">
        @switch (BVM.StatutMoisActif?.Statut)
        {
            case null:
                <_Statistiques Model="@BVM" />
                break;
            case Statut.en_cours:
                <_EditionFluxMensuel Model="@BVM" />
                break;
            case Statut.complete:
                <_RecapitulatifFluxMensuel @key="BVM.StatutMoisActif.Date" Model="@BVM" /> // la cle permet de forcer la mise à jour
                break;
            case Statut.aucune_donnees:
                <_BudgetGetFlux Model="@BVM" />
                break;
        }
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        BVM.OnChange += StateHasChanged;
        await BVM.StartLoadData();
    }

    public void Dispose()
    {
        BVM.OnChange -= StateHasChanged;
    }
}