@using Investissement_WebClient.UI.Components.ViewsModels;
@page "/"
@rendermode InteractiveServer
@inject InvestirViewModel IVM
@inject IJSRuntime JS


<PageTitle>Investir</PageTitle>

<div class="investir">
    <div class="investissement">
        <div class="investissement-header">
            <label>Investissement du</label>
            <input @bind="IVM.SelectedDateInvest" type="date"/>
            <label>avec le modèle</label>
            <select @onchange="IVM.OnChangeModele">
                <option>Aucun</option>
                @foreach ((int Id, string Nom) modele in IVM.Modeles)
                {
                    <option value="@modele.Id">@modele.Nom</option>
                }
            </select>
        </div>

        <br>

        <div class="investissement-content">
            @foreach (var transaction in IVM.TransactionsInvestissement)
            {
                <div class="actif-investissement">
                    <div class="header">
                        <select>
                            @foreach ((int Id, string Nom) actif in IVM.ActifsEnregistre)
                            {
                                <option value="@actif.Id">@actif.Nom</option>
                            }
                        </select>
                        <div type="button" class="dell" @onclick="() => IVM.DellTransactionInvest(transaction)">✖</div>
                    </div>
                    <div class="content">
                        <input @bind="transaction.Quantite" placeholder="Quantité investit"/>
                        <input @bind="transaction.Prix" placeholder="Prix d'achat (€)"/>
                    </div>
                </div>
            }
            @if (IVM.ActifsEnregistre.Count() != 0)
            {
                <div class="actif-investissement add" @onclick="IVM.AddTransactionInvest">
                    <a>+</a>
                </div>
            }
        </div>

        @if (IVM.TransactionsInvestissement.Count != 0)
        {
            <div class="investissement-footer">
                <button @onclick="Investir" class="btn-investir">Investir</button>
            </div>
        }
    </div>

    <div class="transactions">
        <div class="transactions-header">
            @* <label>Dernières transactions le @(IVM.dateDernierInvest.HasValue? IVM.dateDernierInvest.Value.ToString("dddd d MMMM yyyy") : "")</label> *@
            <label>Transactions</label>
        </div>
        <div class="transactions-content">
            @* @if (IVM.ListeDernierInvestissement.Count == 0) *@
            @* { *@
            @*     <div class="aucune-investisssement">aucune transactions trouvé, commencer à investir demain c'est déjà trop tard</div> *@
            @* } *@
            @* @foreach (var transaction in IVM.ListeDernierInvestissement) *@
            @* { *@
            @*     <div class="transaction-dernier-invest"> *@
            @*         <div class="contenu-transaction">@transaction.quantite @transaction.actif à @transaction.prix €  => +@(transaction.prix* transaction.quantite) €</div> *@
            @*     </div> *@
            @* } *@
        </div>
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        await IVM.LoadData();
    }
    
    async Task Investir()
    {
        await IVM.Investir();

        if(IVM.HasError)
        {
            await JS.InvokeVoidAsync("alert", IVM.ErrorMessage);
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Investissement effectué avec succès !");
        }
    }
}