@using System.Globalization
@using System.Transactions
@using Investissement_WebClient.Core.Modeles.DTO
@using Investissement_WebClient.UI.Components.ViewsModels;
@page "/"
@rendermode InteractiveServer
@inject InvestirViewModel IVM
@inject IJSRuntime JS
@inject IToastService TS


<PageTitle>Investir</PageTitle>

<div class="investir">
    <div class="investissement">
        <div class="investissement-header">
            <label>Investissement du</label>
            <input @bind="IVM.SelectedDateInvest" type="date"/>
            <label>avec le modèle</label>
            <select @onchange="IVM.OnChangeModele">
                <option>Aucun</option>
                @foreach (ModeleDto modele in IVM.Modeles)
                {
                    <option value="@modele.Id">@modele.Nom</option>
                }
            </select>
        </div>

        <div class="investissement-content">
            @foreach (var transaction in IVM.TransactionsInvestissement)
            {
                <div class="transaction-investissement">
                    <div class="actif-transaction">
                        <select Tvalue="int" @bind="transaction.IdActif">
                            <option value="0" disable>-- Sélectionnez un actif --</option>
                            @foreach (ActifDto actif in IVM.ActifsEnregistre)
                            {
                                <option value="@actif.Id">@actif.Nom</option>
                            }
                        </select>
                        <div type="button" class="dell" @onclick="() => IVM.DellTransactionInvest(transaction)">✕</div>
                    </div>
                    <div class="valeurs-transaction">
                        <input @bind="transaction.Quantite" placeholder="Quantité investit"/>
                        <input @bind="transaction.Prix" placeholder="Prix d'achat (€)"/>
                        <input @bind="transaction.Frais" placeholder="Frais (€)"/>
                    </div>
                </div>
            }
            @if (IVM.ActifsEnregistre.Count() != 0)
            {
                <div class="actif-investissement add" @onclick="IVM.AddTransactionInvest">
                    <a>+</a>
                </div>
            }
        </div>

        @if (IVM.TransactionsInvestissement.Count != 0)
        {
            <div class="investissement-footer">
                <button @onclick="Investir" class="btn-investir">Investir</button>
            </div>
        }
    </div>

    <div class="mes-investissements">
        <div class="mes-investissements-header">
            <label>Mes Investissements</label>
        </div>
        <div class="mes-investissements-content">
            @foreach (var investissementsParDate in IVM.Investissements.GroupBy(i => i.Date.Date))
            {
                <div class="un-investissement">
                    <label>
                        @(investissementsParDate.Sum(t => t.Transactions.Sum(tr => tr.Prix * tr.Quantite))?.ToString("C2", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR")))
                        @investissementsParDate.Key.ToString("dddd dd MMMM", CultureInfo.CreateSpecificCulture("fr-FR"))
                    </label>
                    @foreach(var investissementJour in investissementsParDate)
                    {
                        <label>@(investissementJour.NomModele != null ? "- " + investissementJour.NomModele : "")</label>
                        <div class="transactions-investissement">
                            @foreach (TransactionDto transaction in investissementJour.Transactions)
                            {
                                <span type="text" class="une-transaction">@transaction.Quantite @transaction.NomActif à @transaction.Prix?.ToString("C", CultureInfo.CreateSpecificCulture("fr-FR"))</span>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        await IVM.LoadData();
    }

    async Task Investir()
    {
        await IVM.Investir();

        if(IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            IVM.HasError = false;
            IVM.ErrorMessage = string.Empty;
        }
        else
        {
            TS.ShowSuccess("Investissement effectué avec succès !");
        }
    }
}