@using Investissement_WebClient.Core.Modeles.DTO
@using Investissement_WebClient.UI.Components.ViewsModels
@using Investissement_WebClient.Core.Modeles.Graphiques;

@page "/investissement"
@* @rendermode InteractiveServer *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject InvestissementViewModel IVM
@inject IJSRuntime JS
@inject IToastService TS

<PageTitle>Investissement</PageTitle>

<div class="investissement">
    <div class="transactions">
        <div class="header">
            <label>Transactions</label>
            <button type="button" class="btn-transactions" @onclick="RecupererTransactions">Récuperer les transactions</button>
        </div>

        <div class="transactions-infos">
            <div class="form-grid">
                @if(IVM.Etat == "sms-requis")
                {
                    <label>Code sms</label>
                    <div class="info">
                        <input type="text" inputmode="numeric" maxlength="4" @bind="IVM.CodeSms" placeholder="ex : 1234" />
                    </div>
                    <button type="button" class="btn-verifier" @onclick="VerifierCodeSms">Vérifier</button>
                }
                else if(IVM.Etat == "neutre")
                {
                    <span>@IVM.Message</span>
                }
            </div>
           
        </div>

        <div class="content">
            @foreach (var transactionsParDate in IVM.Transactions.GroupBy(i => i.Date.Date))
            {
                <div class="mes-transactions-par-jour">
                    <div class="mes-transactions-par-jour-header">
                        <label>@transactionsParDate.Key.ToString("D") &nbsp</label>
                        <span></span>
                        <label>@(transactionsParDate.Sum(tr => tr.Prix * tr.Quantite)?.ToString("C2"))</label>
                    </div>
                    <div class="mes-transactions-par-jour-content">
                        @foreach (var transaction in transactionsParDate)
                        {
                            <div class="une-transaction">
                                    <span></span>
                                    <span class="quantite">@transaction.Quantite&nbsp</span>
                                    <span class="actif">@transaction.Actif à&nbsp</span>
                                    <span class="prix">@transaction.Prix?.ToString("C")</span>     
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="investissement-moyen">
        <div class="header">
            <label>Investissement</label>
            <div class="investissement-infos">
                <div class="form-grid">
                    <label>Investissement moyen</label>
                    <div class="info">
                        <span>@IVM.InvestissementMoyenMensuel.ToString("C") / mois</span>
                    </div>

                    <label>Investissement total</label>
                    <div class="info">
                        <span>@IVM.InvestissementTotal.ToString("C")</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="investissement-content">
            <ApexChart @ref="_chartInvestissementsParMois" TItem="InvestissementParMois"
                       Options="ChartOptionsProfil.OptionsInvestissementParMois">

                <ApexPointSeries TItem="InvestissementParMois"
                                 Items="IVM.InvestissementsParMois"
                                 SeriesType="SeriesType.Line"
                                 Name="Investissement"
                                 YValue="@(e => e.Investissement)"
                                 XValue="@(e => e.Mois.ToString("MMMM yy"))"
                                 Stroke="@(new SeriesStroke{ Width=3, Color="grey" })" />

                <ApexPointSeries TItem="InvestissementParMois"
                                 Items="IVM.InvestissementsParMois"
                                 SeriesType="SeriesType.Line"
                                 Name="Investissement moyen"
                                 YValue="@(e => e.InvestissementMoyen)"
                                 XValue="@(e => e.Mois.ToString("MMMM yy"))"
                                 Stroke="@(new SeriesStroke{ Width=3, DashSpace=2, Color="goldenrod" })" />
            </ApexChart>
        </div>
    </div>

    <div class="evolution-actifs">
        <div class="header">
            <label>Evolution actifs</label>
        </div>

        <div class="evolution-actif-content">
        </div>
    </div>
</div>

@code{

    private ApexChart<InvestissementParMois> _chartInvestissementsParMois;

    protected override async Task OnInitializedAsync()
    {
        await IVM.LoadData();
    }

    private async Task RecupererTransactions()
    {
        await IVM.DemandeCodeSms();

        if(IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            IVM.ErrorMessage = string.Empty;
            IVM.HasError = false;
            return;
        }

        TS.ShowSuccess(IVM.Message);
    }


    private async Task VerifierCodeSms()
    {
        await IVM.VerfierCodeSms();

        if (IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            IVM.ErrorMessage = string.Empty;
            IVM.HasError = false;
            return;
        }

        TS.ShowSuccess(IVM.Message);

        await ChargerTransactions();
    }

    private async Task ChargerTransactions()
    {
        await IVM.ChargerTransactions();

        if (IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            IVM.ErrorMessage = string.Empty;
            IVM.HasError = false;
            return;
        }

        TS.ShowSuccess("Les transactions on été chargées correctement.");
        IVM.Message = "Aucune demande de récupération de transactions en cours ...";
    }
}

