@using Investissement_WebClient.UI.Components.ViewsModels;
@page "/"
@rendermode InteractiveServer
@inject InvestirViewModel IVM
@inject IJSRuntime JS


<PageTitle>Investir</PageTitle>

@* <div class="investir"> *@
@*     <div class="investissement"> *@
@*         <div class="investissement-header"> *@
@*             <label>Investissement du</label> *@
@*             <input @bind="IVM.selectedDate" type="date"/> *@
@*             <label>avec le modèle</label> *@
@*             <select @bind="IVM.SelectedModele"> *@
@*                 <option>Aucun</option> *@
@*                 @foreach (string modele in IVM.ListeModeles) *@
@*                 { *@
@*                     <option>@modele</option> *@
@*                 } *@
@*             </select> *@
@*         </div> *@
@*      *@
@*         <br> *@
@*      *@
@*         <div class="investissement-content"> *@
@*             @foreach (var transaction in IVM.ListeTransactions) *@
@*             { *@
@*                 <div class="actif-investissement"> *@
@*                     <div class="header"> *@
@*                         <select> *@
@*                             @foreach (var actif in IVM.ListeActifs) *@
@*                             { *@
@*                                 <option>@actif</option> *@
@*                             } *@
@*                         </select> *@
@*                         <div type="button" class="dell" @onclick="() => IVM.DellActifInvest(transaction)">✖</div> *@
@*                     </div> *@
@*                     <div class="content"> *@
@*                         $1$ <input @bind="transaction.quantite" placeholder="Quantité investit"/> #1# *@
@*                         $1$ <input @bind="transaction.prix" placeholder="Prix d'achat (€)"/> #1# *@
@*                     </div> *@
@*                 </div> *@
@*             } *@
@*             @if (IVM.ListeActifs.Count != 0) *@
@*             { *@
@*                 <div class="actif-investissement add" @onclick="IVM.AddActifInvest"> *@
@*                     <a>+</a> *@
@*                 </div> *@
@*             } *@
@*         </div> *@
@*          *@
@*         @if (IVM.ListeTransactions.Count != 0) *@
@*         { *@
@*             <div class="investissement-footer"> *@
@*                 <button @onclick="Investir" class="btn-investir">Investir</button> *@
@*             </div> *@
@*         } *@
@*     </div> *@
@*      *@
@*     <div class="transactions"> *@
@*         <div class="transactions-header"> *@
@*             $1$ <label>Dernières transactions le @(IVM.dateDernierInvest.HasValue? IVM.dateDernierInvest.Value.ToString("dddd d MMMM yyyy") : "")</label> #1# *@
@*             <label>Transactions</label> *@
@*         </div> *@
@*         <div class="transactions-content"> *@
@*             $1$ @if (IVM.ListeDernierInvestissement.Count == 0) #1# *@
@*             $1$ { #1# *@
@*             $1$     <div class="aucune-investisssement">aucune transactions trouvé, commencer à investir demain c'est déjà trop tard</div> #1# *@
@*             $1$ } #1# *@
@*             $1$ @foreach (var transaction in IVM.ListeDernierInvestissement) #1# *@
@*             $1$ { #1# *@
@*             $1$     <div class="transaction-dernier-invest"> #1# *@
@*             $1$         <div class="contenu-transaction">@transaction.quantite @transaction.actif à @transaction.prix €  => +@(transaction.prix* transaction.quantite) €</div> #1# *@
@*             $1$     </div> #1# *@
@*             $1$ } #1# *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@
@* @code{ *@
@*     async Task Investir() *@
@*     { *@
@*         await IVM.Investir(); *@
@* *@
@*         if(IVM.hasError) *@
@*         { *@
@*             await JS.InvokeVoidAsync("alert", IVM.errorMessage); *@
@*         } *@
@*         else *@
@*         { *@
@*             await JS.InvokeVoidAsync("alert", "Investissement effectué avec succès !"); *@
@*         } *@
@*     } *@
@* } *@