@using Investissement_WebClient.Core.Modeles
@using Investissement_WebClient.UI.Components.ViewsModels;

@page "/modele"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject ModeleViewModel MVM

<PageTitle>Modele</PageTitle>

@* <div class="modele"> *@
@*     <div class="ajout-edit-modele"> *@
@*         <div class="choix-ajout-edit-modele"> *@
@*             <div class="mode-ajout @(MVM.selectedMode == "Ajouter" ? "selected" : "")" @onclick="MVM.ChangeMode"> *@
@*                 <label>Ajouter</label> *@
@*             </div> *@
@*             <div class="mode-edit @(MVM.selectedMode == "Modifier" ? "selected" : "")" @onclick="MVM.ChangeMode"> *@
@*                 <label>Modifier</label> *@
@*             </div> *@
@*         </div> *@
@*      *@
@*         @switch (MVM.selectedMode) *@
@*         { *@
@*             case "Ajouter": *@
@*                 <div class="ajout-modele"> *@
@*                     <div class="ajout-modele-header"> *@
@*                         <label>Nom du modèle</label> *@
@*                         <input @bind="MVM.selectedNomModele" type="text"/> *@
@*                     </div> *@
@* *@
@*                     <div class="ajout-modele-content"> *@
@*                         @foreach (CompositionModele transaction in MVM.ListeTransactionsModele) *@
@*                         { *@
@*                             <div class="actif-modele-investissement"> *@
@*                                 <div class="header"> *@
@*                                     <select> *@
@*                                         @foreach (var actif in MVM.ListeNomsActif) *@
@*                                         { *@
@*                                             <option>@actif</option> *@
@*                                         } *@
@*                                     </select> *@
@*                                     <div type="button" class="dell" @onclick="() => MVM.DellActifModele()">✖</div> *@
@*                                 </div> *@
@*                                 <div class="content"> *@
@*                                     <input placeholder="Quantité (optionnel)"/> *@
@*                                 </div> *@
@*                             </div> *@
@*                         } *@
@* *@
@*                         <div class="actif-modele-investissement add" @onclick="MVM.AddActifModele"> *@
@*                             <a>+</a> *@
@*                         </div> *@
@*                     </div> *@
@* *@
@*                     @if (MVM.ListeTransactionsModele.Count != 0) *@
@*                     { *@
@*                         <div class="ajout-modele-footer"> *@
@*                             <button class="btn-ajout" @onclick="Ajouter">Ajouter</button> *@
@*                         </div> *@
@*                     } *@
@*                 </div> *@
@* *@
@*                 break; *@
@* *@
@*             case "Modifier": *@
@*                 <div class="edit-modele"> *@
@*                     <div class="edit-modele-header"> *@
@*                         <label>Sélectionner un modèle</label> *@
@*                         <select @bind="MVM.SelectedModeleEdit"> *@
@*                             <option>Aucun</option> *@
@*                             @foreach (var modele in MVM.ListeModeles) *@
@*                             { *@
@*                                 <option>@modele</option> *@
@*                             } *@
@*                         </select> *@
@*                     </div> *@
@* *@
@*                     <div class="edit-modele-content"> *@
@*                         @if (MVM.SelectedModeleEdit != "Aucun") *@
@*                         { *@
@*                             @foreach (var transaction in MVM.ListeTransactionsModeleEdit) *@
@*                             { *@
@*                                 <div class="actif-modele-investissement"> *@
@*                                     <div class="header"> *@
@*                                         <select> *@
@*                                             @foreach (var actif in MVM.ListeNomsActif) *@
@*                                             { *@
@*                                                 <option>@actif</option> *@
@*                                             } *@
@*                                         </select> *@
@*                                         <div type="button" class="dell" @onclick="() => MVM.DellActifModeleEdit()">✖</div> *@
@*                                     </div> *@
@*                                     <div class="content"> *@
@*                                         <input placeholder="Quantité (optionnel)"/> *@
@*                                     </div> *@
@*                                 </div> *@
@*                             } *@
@* *@
@*                             <div class="actif-modele-investissement add" @onclick="MVM.AddActifModeleEdit"> *@
@*                                 <a>+</a> *@
@*                             </div> *@
@*                         } *@
@*                     </div> *@
@* *@
@*                     @if (MVM.SelectedModeleEdit != "Aucun" && MVM.ListeTransactionsModeleEdit.Count != 0) *@
@*                     { *@
@*                         <div class="edit-modele-footer"> *@
@*                             <button class="btn-edit" @onclick="Editer">Modifier</button> *@
@*                         </div> *@
@*                     } *@
@*                 </div> *@
@* *@
@*                 break; *@
@*         } *@
@*     </div> *@
@*     <div class="mes-modele"> *@
@*         <div class="mes-modele-header"> *@
@*             <label>Modèles enregistrés</label> *@
@*         </div> *@
@*         <div class="mes-modele-content"> *@
@*                 @foreach (string modele in MVM.ListeModeles) *@
@*                 { *@
@*                     <span class="un-modele @(MVM.ListeModelesAsuppr.Contains(modele) ? "active" : null)" @onclick="() => MVM.ChangerEtatSuppression(modele)">@modele</span> *@
@*                 } *@
@*         </div> *@
@* *@
@*         @if (MVM.ListeModelesAsuppr.Count != 0) *@
@*         { *@
@*             <div class="mes-modele-footer"> *@
@*                 <button class="btn-suppr" @onclick="Supprimer">Supprimer</button> *@
@*             </div> *@
@*         } *@
@*     </div> *@
@* </div> *@
@* *@
@* @code { *@
@*     async Task Ajouter() *@
@*     { *@
@*         MVM.Ajouter(); *@
@* *@
@*         if (MVM.hasError) *@
@*         { *@
@*             await JS.InvokeVoidAsync("alert", MVM.errorMessage); *@
@*         } *@
@*     } *@
@* *@
@*     async Task Editer() *@
@*     { *@
@*         MVM.Editer(); *@
@* *@
@*         if (MVM.hasError) *@
@*         { *@
@*             await JS.InvokeVoidAsync("alert", MVM.errorMessage); *@
@*         } *@
@*         else *@
@*         { *@
@*             await JS.InvokeVoidAsync("alert", "Modele modifié avec succès"); *@
@*         } *@
@*     } *@
@* *@
@*     async Task Supprimer() *@
@*     { *@
@*         if (await JS.InvokeAsync<bool>("confirm", "Voulez-vous vraiment supprimer ce/ces modele(s) ?")) *@
@*         { *@
@*             MVM.Supprimer(); *@
@* *@
@*             if (MVM.hasError) *@
@*             { *@
@*                 await JS.InvokeVoidAsync("alert", MVM.errorMessage); *@
@*             } *@
@*         } *@
@*     } *@
@* } *@