@using Investissement_WebClient.UI.Components.ViewsModels
@using Investissement_WebClient.Core.Modeles.Graphiques;

@page "/profil"
@rendermode InteractiveServer
@inject ProfilViewModel PVM
@inject IJSRuntime JS
@inject IToastService TS

<PageTitle>Profil</PageTitle>

<div class="profil">
    <div class="perspectives">
        <div class="header">
            <label>Perspectives</label>
            <btn @onclick="CalculerEvolutionDuPatrimoine" class="btn-calcul">Calcul</btn>
        </div>

        <div class="perspectives-infos">
            <div class="form-grid">
                <label>Investissement mensuel</label>
                <div class="info">
                    <input @bind="PVM.InvestissementMoyenMensuel" />
                </div>
                <label>€</label>

                <label>Evolution Annuelle</label>
                <div class="info">
                    <input @bind="PVM.EvolutionAnnuellePourcentage" />
                </div>
                <label>%</label>

                <label>Nombre d'années</label>
                <div class="info"> 
                    <input @bind="PVM.PerspectiveNbAnnees" />
                </div>
                <label>ans</label>
            </div>
        </div>

        <div class="perspectives-content">
            <ApexChart @ref="_chartPerspectivesValeurPatrimoineParAn" TItem="ValeurParAn"
                       Options="ChartOptionsProfil.OptionsValeurParAn">

                <ApexPointSeries TItem="ValeurParAn"
                                 Items="PVM.PerspectivesValeurPatrimoineParAn"
                                 SeriesType="SeriesType.Line"
                                 Name="Valeur Patrimoine"
                                 YValue="@(e => e.Valeur)"
                                 XValue="@(e => e.Annee)"
                                 Stroke="@(new SeriesStroke{ Width=3, DashSpace=2, Color="yellow" })" />

                <ApexPointSeries TItem="ValeurParAn"
                                 Items="PVM.PerspectivesValeurPatrimoineParAn"
                                 SeriesType="SeriesType.Line"
                                 Name="Investissement"
                                 YValue="@(e => e.Investissement)"
                                 XValue="@(e => e.Annee)"
                                 Stroke="@(new SeriesStroke{ Width=3, Color="grey" })" />
            </ApexChart>
        </div>
    </div>

    <div class="investissement">
        <div class="header">
            <label>Investissement</label>
        </div>
    </div>

    <div class="revenus">
        <div class="header">
            <label>Revenus</label>
        </div>
    </div>

    <div class="evolution-actifs">
        <div class="header">
            <label>Evolution actifs</label>
        </div>
    </div>
</div>

@code{

    private ApexChart<ValeurParAn> _chartPerspectivesValeurPatrimoineParAn;

    protected override async Task OnInitializedAsync()
    {
        await PVM.CalculerEvolutionDuPatrimoine();
    }

    private async Task CalculerEvolutionDuPatrimoine()
    {
        await PVM.CalculerEvolutionDuPatrimoine();

        if (PVM.HasError) 
        {
            TS.ShowError(PVM.ErrorMessage);
            PVM.HasError = false;
            PVM.ErrorMessage = string.Empty;
        }
        else
        {
            await _chartPerspectivesValeurPatrimoineParAn.UpdateSeriesAsync();
        }
    }
}

