@using Investissement_WebClient.UI.Components.ViewsModels
@using Investissement_WebClient.Core.Modeles.Graphiques;

@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject ProfilViewModel IVM
@inject IJSRuntime JS
@inject IToastService TS

<PageTitle>Profil</PageTitle>

<div class="profil">
    <div class="perspectives">
        <div class="header">
            <label>Perspectives</label>
            <btn @onclick="CalculerEvolutionDuPatrimoine" class="btn-calcul">Calcul</btn>
        </div>

        <div class="perspectives-infos">
            <div class="form-grid">
                <label>Investissement mensuel</label>
                <div class="info">
                    <input @bind="IVM.InvestissementMoyenMensuel" />
                </div>
                <label>€</label>

                <label>Evolution Annuelle</label>
                <div class="info">
                    <input @bind="IVM.EvolutionAnnuellePourcentage" />
                </div>
                <label>%</label>

                <label>Nombre d'années</label>
                <div class="info">
                    <input @bind="IVM.PerspectiveNbAnnees" />
                </div>
                <label>ans</label>
            </div>
        </div>

        <div class="perspectives-content">
            <ApexChart @ref="_chartPerspectivesValeurPatrimoineParAn" TItem="ValeurParAn"
                       Options="ChartOptionsProfil.OptionsValeurParAn">

                <ApexPointSeries TItem="ValeurParAn"
                                 Items="IVM.PerspectivesValeurPatrimoineParAn"
                                 SeriesType="SeriesType.Line"
                                 Name="Valeur Patrimoine"
                                 YValue="@(e => e.Valeur)"
                                 XValue="@(e => e.Annee)"
                                 Stroke="@(new SeriesStroke{ Width=3, DashSpace=2, Color="goldenrod" })" />

                <ApexPointSeries TItem="ValeurParAn"
                                 Items="IVM.PerspectivesValeurPatrimoineParAn"
                                 SeriesType="SeriesType.Line"
                                 Name="Investissement"
                                 YValue="@(e => e.Investissement)"
                                 XValue="@(e => e.Annee)"
                                 Stroke="@(new SeriesStroke{ Width=3, Color="grey" })" />
            </ApexChart>
        </div>
    </div>

    <div class="investissement">
        
    </div>

    <div class="revenus">

    </div>

    <div class="evolution-actifs">

    </div>
</div>

@code {
    private ApexChart<ValeurParAn> _chartPerspectivesValeurPatrimoineParAn;

    protected override async Task OnInitializedAsync()
    {
        await IVM.CalculerEvolutionDuPatrimoine();
    }

    private async Task CalculerEvolutionDuPatrimoine()
    {
        await IVM.CalculerEvolutionDuPatrimoine();

        if (IVM.HasError)
        {
            TS.ShowError(IVM.ErrorMessage);
            IVM.HasError = false;
            IVM.ErrorMessage = string.Empty;
        }
        else
        {
            await _chartPerspectivesValeurPatrimoineParAn.UpdateSeriesAsync();
        }
    }
}