@using Investissement_WebClient.Core.Modeles.ViewsModels
@using Investissement_WebClient.UI.Components.ViewsModels

@inject IToastService TS

<div class="header">
    <label>Flux @DateString</label>
    @if (!DonneesExiste)
    {
        <button type="button" class="btn-transactions" @onclick="() => GetTransactions()">Récupérer les transactions de @DateString</button>
    }
    else if (Model.FluxMensuel.All(f => f.IdCategorie != 0))
    {
        <button type="button" class="btn-transactions">Modifier les flux</button>
    }
    else
    {
        <button type="button" class="btn-transactions" @onclick="() => UpdateFluxMensuel()">Enregistrer les modifications</button>
    }
</div>

<div class="content">
    @if (!DonneesExiste)
    {
        <p>Aucune données ...</p>
    }
    else if (Model.FluxMensuel.All(f => f.IdCategorie != 0))
    {
        <_RecapitulatifFluxMensuel FluxMensuel="@Model.FluxMensuel" Categories="@Model.Categories" />
    }
    else
    {
        <_SectionFlux Titre="Crédits"
                      IsCredit="true"
                      Flux="@Model.CreditsFluxMensuel"
                      Categories="@Model.Categories" />

        <_SectionFlux Titre="Débits"
                      IsCredit="false"
                      Flux="@Model.DebitsFluxMensuel"
                      Categories="@Model.Categories" />
    }
</div>

@code {
    [Parameter] public EventCallback OnDataChanged { get; set; }
    [Parameter] public required BudgetViewModel Model { get; set; }
    [Parameter] public DateTime Date { get; set; }
    private string DateString => Date.ToString("MMMM yyyy");
    private bool DonneesExiste => Model.FluxMensuel != null && Model.FluxMensuel.Any();

    private async Task GetTransactions()
    {
        try
        {
            await Model.GetFluxMensuel(Date);
        }
        catch (Exception e)
        {
            TS.ShowError(e.Message);
            return;
        }

        TS.ShowSuccess($"Données de {DateString} récupéré avec succès");
        //await Model.LoadFluxCreditCoop();
        await Model.LoadFluxUnMois(Date);

        await OnDataChanged.InvokeAsync(); //pour rafraichir la vue parente 
    }

    private async Task UpdateFluxMensuel()
    {
        try
        {
            await Model.UpdateFluxMensuel();
        }
        catch(Exception ex)
        {
            TS.ShowError(ex.Message);
            return;
        }

        TS.ShowSuccess("Données enregistrées avec succès");
        await OnDataChanged.InvokeAsync();
    }
}