@using Investissement_WebClient.Core.Modeles.ViewsModels

<div class="recapitulatif">
    <label>Récapitulatif</label>

    <div class="content">
        <ApexChart TItem="FluxCreditCoopVM"
                   Title="Récapitulatif mensuel crédits/débits par catégorie">

            <ApexPointSeries TItem="FluxCreditCoopVM"
                             Items="@FluxMensuel.Where(f => f.Valeur >= 0)"
                             Name="Crédits"
                             XValue="@(e => Categories.FirstOrDefault(c => c.Id == e.IdCategorie).Libelle)"
                             YAggregate="@(e => e.Sum(f => f.Valeur))"
                             SeriesType="SeriesType.Bar"
                             Color="#00FF00" />

            <ApexPointSeries TItem="FluxCreditCoopVM"
                             Items="@FluxMensuel.Where(f => f.Valeur < 0)"
                             Name="Débits"
                             XValue="@(e => Categories.FirstOrDefault(c => c.Id == e.IdCategorie).Libelle)"
                             YAggregate="@(e => Math.Abs(e.Sum(f => f.Valeur)))"
                             SeriesType="SeriesType.Bar"
                             Color="#FF0000"/>
        </ApexChart>
    </div>


    @* <div class="content">
        <label>Categorie</label>
        <label>Credit</label>
        <label>Debit</label>
    </div>

    <div class="ligne-horizontale"></div>

    <div class="content align-content-center">
        @foreach (var fluxParCategorie in FluxMensuelGroupByCategorie)
        {
            <span>@Categories.FirstOrDefault(f => f.Id == fluxParCategorie.Key).Libelle</span>
            <span class="credit">+@fluxParCategorie.Where(f => f.Valeur >= 0).Sum(f => f.Valeur)</span>
            <span class="debit">@fluxParCategorie.Where(f => f.Valeur < 0).Sum(f => f.Valeur)</span>
        }
    </div>

    <div class="ligne-horizontale"></div>

    <div class="content">
        <label>Total</label>
        <label class="credit">+@(Model.CreditsFluxMensuel.Sum(f => f.Valeur))</label>
        <label class="debit">@(Model.DebitsFluxMensuel.Sum(f => f.Valeur))</label>
    </div> *@
</div>

@code{
    [Parameter] public List<FluxCreditCoopVM> FluxMensuel { get; set; } = [];
    [Parameter] public IEnumerable<CategorieFluxVM> Categories { get; set; } = [];
}
