@using Investissement_WebClient.Web.Components.Layout
@using Investissement_WebClient.Web.Components.ViewsModels
@using Investissement_WebClient.Web.GestionSession
@using Microsoft.AspNetCore.Components.Authorization

@page "/inscription"
@layout AuthLayout
@inject InscriptionViewModel IVM 
@inject NavigationManager Nav
@inject IToastService TS
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Nouvel utilisateur</PageTitle>

<div class="login-register">
    <div class="header">
        <label>Inscription</label>
    </div>

    <EditForm Model="@IVM.InformationsInscription" OnValidSubmit="TentativeInscription">
        <DataAnnotationsValidator />

        <div>
            <InputText @bind-Value="IVM.InformationsInscription.Prenom" placeholder="Prénom" />
            <ValidationMessage class="erreur" For="@(() => IVM.InformationsInscription.Prenom)" />
        </div>
        <div>
            <InputText @bind-Value="IVM.InformationsInscription.Email" placeholder="Email" />
            <ValidationMessage class="erreur" For="@(() => IVM.InformationsInscription.Email)" />
        </div>
        <div>
            <InputText @bind-Value="IVM.InformationsInscription.Mdp" type="password" placeholder="Mot de passe" />
            <ValidationMessage class="erreur" For="@(() => IVM.InformationsInscription.Mdp)" />
        </div>
        <div>
            <InputText @bind-Value="IVM.InformationsInscription.ConfirmationMdp" type="password" placeholder="Confirmation mot de passe" />
            <ValidationMessage class="erreur" For="@(() => IVM.InformationsInscription.ConfirmationMdp)" />
        </div>

        <button class="btn-submit" disabled="@IsLoading">
            @if (IsLoading)
            {
                <img src="chargement.png" alt="..." />
            }
            else
            {
                <span>S'inscrire</span>
            }
        </button>
        <p>Vous avez déjà un compte ? <a href="/connexion">Connectez-vous</a></p>
    </EditForm>
</div>

@code {
    public bool IsLoading { get; set; } = false;

    public async Task TentativeInscription()
    {
        IsLoading = true;

        await IVM.TentativeInscription();

        if (IVM.HasErreur)
        {
            TS.ShowError(IVM.MessageErreur);
            IVM.HasErreur = false;
            IVM.MessageErreur = string.Empty;
            return;
        }

        // on connecte l'utilisateur
        var nouvelUser = IVM.InformationsInscription;
        var session = new SessionUtilisateur
        {
            Id = nouvelUser.Id,
            Email = nouvelUser.Email,
            Prenom = nouvelUser.Prenom
        };

        var customAuthStateProvider = (CustomAuthStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(session);

        Nav.NavigateTo("/profil?creation=succes");
    }
}
