@using Investissement_WebClient.Web.Components.ViewsModels
@using Investissement_WebClient.Web.GestionSession
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@page "/profil"
@attribute [Authorize]
@inject ProfilViewModel PVM
@inject IJSRuntime JS
@inject IToastService TS
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Profil</PageTitle>

<div class="profil">
    <div class="perspectives">
        <div class="header">
            <label>Perspectives</label>
        </div>

        <div class="perspectives-infos">
            <div class="form-grid">
                <label>Investissement mensuel</label>
                <div class="info">
                    <input @bind="PVM.InvestissementMoyenMensuel" @bind:event="oninput" @onchange="CalculerEvolutionDuPatrimoine" />
                </div>
                <label>€</label>

                <label>Evolution Annuelle</label>
                <div class="info">
                    <input @bind="PVM.EvolutionAnnuellePourcentage" @bind:event="oninput" @onchange="CalculerEvolutionDuPatrimoine" />
                </div>
                <label>%</label>

                <label>Nombre d'années</label>
                <div class="info">
                    <input @bind="PVM.PerspectiveNbAnnees" @bind:event="oninput" @onchange="CalculerEvolutionDuPatrimoine" />
                </div>
                <label>ans</label>
            </div>
        </div>

        <div class="perspectives-graphique">
            <_GraphiquePerspectivePatrimoine PerspectivesValeurPatrimoineParAn="@PVM.PerspectivesValeurPatrimoineParAn" />
        </div>
    </div>

    <div class="info-compte">
        <div class="header">
            <label>@(PVM.PrenomUser != string.Empty ? "Bonjour " + PVM.PrenomUser : "")</label>
            <button class="btn-calcul" @onclick="Deconnexion">Déconnexion</button>
        </div>
    </div>
    <div class="connect-tr">
        <div class="header">
            <label>Connexion Trade Republic</label>
        </div>

        <EditForm Model="@PVM.TradeRepublicAcces" OnValidSubmit="TentativeEnregistrement">
            <DataAnnotationsValidator />

            <div>
                <InputText @bind-Value="PVM.TradeRepublicAcces.NumTel" placeholder="Numéro de téléphone" />
                <ValidationMessage class="erreur" For="@(() => PVM.TradeRepublicAcces.NumTel)" />
            </div>
            <div>
                <InputText @bind-Value="PVM.TradeRepublicAcces.Pin" type="password" placeholder="Pin (4 chiffres)" />
                <ValidationMessage class="erreur" For="@(() => PVM.TradeRepublicAcces.Pin)" />
            </div>

            <button class="btn-submit" disabled="@IsLoading">
                @if (IsLoading)
                {
                    <img src="chargement.png" alt="..." />
                }
                else
                {
                    <span>Enregistrer</span>
                }
            </button>
        </EditForm>
    </div>
</div>

@code {
    [Parameter][SupplyParameterFromQuery(Name = "creation")] public string? CreationStatus { get; set; }
    public bool IsLoading { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (CreationStatus == "succes")
            TS.ShowSuccess("Votre compte a été créé avec succès !");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await PVM.LoadData();
            StateHasChanged();
        }
    }

    private async Task CalculerEvolutionDuPatrimoine()
    {
        await PVM.CalculerEvolutionDuPatrimoine();

        if (PVM.HasError)
        {
            TS.ShowError(PVM.ErrorMessage);
            PVM.HasError = false;
            PVM.ErrorMessage = string.Empty;
        }
    }

    public async Task Deconnexion()
    {
        var customAuthStateProvider = (CustomAuthStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);

        Nav.NavigateTo("connexion");
    }

    public async Task TentativeEnregistrement()
    {
        IsLoading = true;

        await PVM.SaveAccesTR();

        if (PVM.HasError)
        {
            TS.ShowError(PVM.ErrorMessage);
            PVM.HasError = false;
            PVM.ErrorMessage = string.Empty;
            IsLoading = false;
            return;
        }

        IsLoading = false;
        TS.ShowSuccess("Accès Trade Republic enregistré avec succès !");
    }
}