@using System.Globalization
@using Investissement_WebClient.Application.ViewsModels.Graphiques
@using Investissement_WebClient.Web.Components.Views.Patrimoine
@using Investissement_WebClient.Web.Components.ViewsModels

@page "/patrimoine"
@implements IDisposable
@inject IToastService TS
@inject PatrimoineViewModel PVM

<PageTitle>Patrimoine</PageTitle>

<div class="patrimoine">
    
    <div class="patrimoine-infos">
        <_PatrimoineInfos Model="@PVM" />
    </div>

    <div class="patrimoine-graphiques">

        @if(PVM.ValeurPatrimoineCourante != 0)
        {
            <div class="btn-rond precedent" @onclick="GraphiquePrecedent">ᐸ</div>
            <div class="btn-rond suivant" @onclick="GraphiqueSuivant">ᐳ</div>
        }

        <div class="rail @(graphiques[index])">

            @if (PVM.ValeurPatrimoineCourante == 0)
            {
                <div class="page">
                    <div class="recherche-donnee">
                        <span>Recherche de données...</span>
                    </div>
                </div>
            }

            <div class="page">
                <_GraphiqueEvolutionPlusValue BougiesJournalieresPlusOuMoinsValues="@PVM.BougiesJournalieresPlusOuMoinsValues" />
            </div>

            <div class="page">
                <_GraphiqueRepartitionActifs ProportionParActif="@PVM.ProportionParActif" />
                <_GraphiqueRepartitionActifParType ProportionParTypeActif="@PVM.ProportionParTypeActif" />
            </div>

            <div class="page">
                <_GraphiqueValeurPatrimoineSurInvestissement BougiesJournalieresValeurPatrimoineSurInvestissementTotal="PVM.BougiesJournalieresValeurPatrimoineSurInvestissementTotal" />
            </div>

        </div>
    </div>
</div>

@code {
    private CancellationTokenSource _cts = new();
    private List<string> graphiques = ["graph1", "graph2", "graph3"];
    private int index =  0;   

    protected override async Task OnInitializedAsync()
    {
        await PVM.LoadData();
        await PVM.LoadDataGraphiques();

        if (PVM.HasError)
        {
            TS.ShowError(PVM.ErrorMessage);
            PVM.HasError = false;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _ = LoadDataBoucle(_cts.Token);
        }
    }

    private async Task LoadDataBoucle(CancellationToken stoppingToken)
    {
        try
        {
            while (!stoppingToken.IsCancellationRequested)
            {
                await PVM.LoadData();
                StateHasChanged();
                await Task.Delay(TimeSpan.FromSeconds(10), stoppingToken); // les données de yahoo ne se mettent pas à jour plus régulièrement que 1mn
            } 
        }
        catch(OperationCanceledException){ Console.WriteLine("Arret du chargement de la valeur du patrimoine"); }
    }

    // déclenchement lors du déclenchement du catch de LoadData (quand on change de page) pour stopper la boucle
    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose(); 
    }

    private void GraphiqueSuivant()
    {
        index = (index + 1) % graphiques.Count();
    }
    private void GraphiquePrecedent()
    {
        var nbGraph = graphiques.Count();
        index = (index - 1 + nbGraph) % nbGraph;
    }
}
