@using Investissement_WebClient.UI.Components.ViewsModels;

@page "/actif"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject ActifViewModel AVM

<PageTitle>Actif</PageTitle>

<div class="actif">
    <div class="ajout-actif">
        <div class="ajout-actif-header">
            <label>Ajouter un actif</label>
        </div>
        <div class="ajout-actif-content">
            <input type="text" @bind="AVM.selectedNom" placeholder="Nom" />
            <input type="text" @bind="AVM.selectedSymbole" placeholder="Symbole" />
            <input type="text" @bind="AVM.selectedType" placeholder="Type" />
            <input type="text" @bind="AVM.selectedISIN" placeholder="ISIN" />
            <select @bind="AVM.selectedNvRisque">
                <option disabled selected hidden>Niveau de risque</option>
                @foreach(var item in AVM.ListeNvRisque)
                {
                    <option>@item</option>
                }
            </select>
        </div>

        <div class="ajout-actif-footer">
            <input class="btn-ajout" type="button" value="Ajouter" @onclick="Ajouter" />
        </div>
    </div>

    <div class="edit-actif">
        <div class="edit-actif-header">
            <label>Modifier l'actif</label>
            <select @bind="AVM.SelectedActifEdit">
                <option>Aucun</option>
                @foreach(var actif in AVM.ListeNomsActifs)
                {
                    <option value="@actif">@actif</option>
                }
            </select>
        </div>
        <div class="edit-actif-content">
            @if (AVM.SelectedActifEdit != "Aucun")
            {
                <input disabled type="text" @bind="AVM.selectedNomEdit" placeholder="Nom" />
                <input type="text" @bind="AVM.selectedSymboleEdit" placeholder="Symbole" />
                <input type="text" @bind="AVM.selectedTypeEdit" placeholder="Type" />
                <input type="text" @bind="AVM.selectedISINEdit" placeholder="ISIN" />
                <select @bind="AVM.selectedNvRisqueEdit">
                    @foreach (var item in AVM.ListeNvRisque)
                    {
                        <option>@item</option>
                    }
                </select>
            }
        </div>
        <div class="edit-actif-footer">
            @if(AVM.SelectedActifEdit != "Aucun")
            {
                <input class="btn-edit" type="button" value="Modifier" @onclick="Editer" />
            }
        </div>
    </div>

    <div class="suppr-actif">
        <label>Supprimer l'actif</label>
        <select @bind="AVM.selectedActifSuppr">
            <option>Aucun</option>
            @foreach (var actif in AVM.ListeNomsActifs)
            {
                <option value="@actif">@actif</option>
            }
        </select>
        @if (AVM.selectedActifSuppr != "Aucun")
        {
            <input class="btn-suppr-actif" type="button" value="Supprimer" @onclick="Supprimer" />
        }
    </div>
</div>


@code{
    async Task Ajouter()
    {
        AVM.Ajouter();

        if(AVM.hasError)
        {
            await JS.InvokeVoidAsync("alert", AVM.errorMessage);
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Actif ajouté avec succès");
        }
    }

    async Task Editer()
    {
        AVM.Editer();

        if (AVM.hasError)
        {
            await JS.InvokeVoidAsync("alert", AVM.errorMessage);
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Actif modifié avec succès");
        }
    }

    async Task Supprimer()
    {
        if (await JS.InvokeAsync<bool>("confirm", "Voulez-vous vraiment supprimer cet actif ?"))
        {
            AVM.Supprimer();

            if (AVM.hasError)
            {
                await JS.InvokeVoidAsync("alert", AVM.errorMessage);
            }
            else
            {
                await JS.InvokeVoidAsync("alert", "Actif supprimé avec succès");
            }
        }
    }
}