@using Investissement_WebClient.UI.Components.ViewsModels;
@page "/"
@rendermode InteractiveServer
@inject InvestirViewModel IVM
@inject IJSRuntime JS


<PageTitle>Investir</PageTitle>

<div class="investir">
    <div class="transactions">
        <div class="transactions-header">
            <label>Dernières transactions le @(IVM.dateDernierInvest.HasValue? IVM.dateDernierInvest.Value.ToString("dddd d MMMM yyyy") : "")</label>
        </div>
        <div class="transactions-content">
            @if (IVM.ListeDernierInvestissement.Count == 0)
            {
                <div class="aucune-investisssement">aucune transactions trouvé, commencer à investir</div>
            }
            @foreach (var transaction in IVM.ListeDernierInvestissement)
            {
                <div class="transaction-dernier-invest">
                    <div class="contenu-transaction">@transaction.quantite @transaction.actif à @transaction.prix €</div>
                    <div class="contenu-transaction">+@(transaction.prix* transaction.quantite) €</div>
                </div>
            }
        </div>
    </div>

    <div class="investissement">
        <div class="investissement-header">
            <label>Investissement du </label>
            <input @bind="IVM.selectedDate" type="date" />
            <label>avec le modèle</label>
            <select @bind="IVM.SelectedModele">
                <option value="-1">Aucun</option>
                @foreach(var modele in IVM.ListeModeles)
                {
                    <option value="@modele.id">@modele.nom</option>
                }
            </select>
        </div>
    
        <br>
    
        <div class="investissement-content">
                @foreach (var transaction in IVM.ListeTransactions)
                {
                    <div class="actif-investissement">
                        <div class="line-1">
                            <select @bind="transaction.actif">
                                @foreach (var actif in IVM.ListeActifs)
                                {
                                    <option>@actif</option>
                                }
                            </select>
                            <input type="button" class="dell" value="🗑️" @onclick="() =>IVM.DellActifInvest(transaction)" />
                        </div>
                        <input @bind="transaction.quantite" type="number" placeholder="Quantité investit" />
                        <input @bind="transaction.prix" type="number" placeholder="Prix d'achat (€)" />
                    </div>
                }
            @if(IVM.ListeActifs.Count != 0)
            {
            <div class="actif-investissement add" @onclick="IVM.AddActifInvest">
                <a>+</a>
            </div>
            }
        </div>
    
        <br>
    
        <div class="investissement-footer">
            <input @onclick="Investir" class="btn-investir" type="button" value="Investir" />
        </div>
    </div>
</div>
@code{
    async Task Investir()
    {
        await IVM.Investir();

        if(IVM.hasError)
        {
            await JS.InvokeVoidAsync("alert", IVM.errorMessage);
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Investissement effectué avec succès !");
        }
    }
}