@using Investissement_WebClient.UI.Components.ViewsModels;
@using Investissement_WebClient.Data.Modeles;
@using System.Linq;

@using ApexCharts
@implements IDisposable

@page "/patrimoine"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject PatrimoineViewModel PVM

@{
    const string blanc = "#FFFFFF";

    //paramétrage graphique Lines
    var chartLinesOptions = new ApexChartOptions<ChartsLinesPrix>
    {
        Chart = new Chart
        {
            Height = "200%",
            Width = "100%"
        },

        Tooltip = new Tooltip
        {
            Theme = Mode.Dark
        },

        //Couleurs des Lines
        Colors = new[] { "#008FFB", "#FF4560" }.ToList(),

        Xaxis = new XAxis
        {
            Labels = new XAxisLabels
            {
                Style = new()
                {
                    Colors = new List<string> { blanc }
                }
            }
        },

        Yaxis = new List<YAxis>
        {
            new YAxis
            {
                Labels = new YAxisLabels
                {
                    Style = new()
                    {
                        Colors = new List<string> { blanc }
                    }
                }
            }
        },

        Legend = new Legend
        {
            Labels = new LegendLabels
            {
                Colors = blanc
            }
        }
    };
}

<PageTitle>Patrimoine</PageTitle>

<div class="patrimoine">
    <div class="patrimoine-header">
        <div class="total-label">Total</div>
        <span class="valeur-totale-courante">@PVM.valeurPatrimoineCourante €</span>
        <span class="variation-prix @(PVM.variationPrix.StartsWith("-") ? "negative" : "positive")">@PVM.variationPrix</span>
    </div>
    <div class="patrimoine-content">
        <ApexChart TItem="ChartsLinesPrix" 
                   Options="chartLinesOptions">

            <ApexPointSeries Items="@PVM.ListPointsLineQuantiteInvesitParDate"
                             Name="Quantité Investit"
                             SeriesType="SeriesType.Line"
                             XValue="@(e => e.Date)"
                             YValue="@(e => e.Value)" />

            <ApexPointSeries Items="@PVM.ListPointsLineValeurPatrimoineParDate"
                             Name="Valeur Actuelle"
                             SeriesType="SeriesType.Line"
                             XValue="@(e => e.Date)"
                             YValue="@(e => e.Value)" />
        </ApexChart>
        
        <ApexChart Title="Proportion actif par rapport au portefeuille total" TItem="ChartPieProportionParActif">

            <ApexPointSeries TItem="ChartPieProportionParActif"
                             Items="@PVM.ListProportionParActif"
                             SeriesType="SeriesType.Pie"
                             XValue="@(e => e.Actif)"
                             YValue="@(e => e.Proportion)"
                             OrderByDescending="e=>e.Y" 
            />
        </ApexChart>
    </div>
    <div class="patrimoine-footer">
    </div>
</div>

@code {
    private CancellationTokenSource detectionChangementPage = new CancellationTokenSource();
    private readonly TimeSpan intervale = TimeSpan.FromSeconds(20);

    
    protected override Task OnInitializedAsync()
    {
        BoucleMajValeurPatrimoine();
        
        var loadingTask = PVM.LoadValeurPatrimoineCourant();

        // après la fin de la recuperation de la valeur du patrimoine
        loadingTask.ContinueWith(t =>
        {
            PVM.LoadVariationPrix();
            PVM.RecupererDonneesPieProportionParActif();
            InvokeAsync(StateHasChanged);
        });
        
        return Task.CompletedTask;
    }
    

    private async void BoucleMajValeurPatrimoine()
    {
        // Récupère le jeton d'annulation
        var token = detectionChangementPage.Token;

        // Boucle infinie qui s'arrêtera via le jeton si l'utilisateur navigue
        while (!token.IsCancellationRequested)
        {
            try
            {
                // 1. Attendre le délai (non-bloquant)
                await Task.Delay(intervale, token);

                // 2. Charger de nouvelles données
                await PVM.LoadValeurPatrimoineCourant();
                PVM.LoadVariationPrix();
                PVM.RecupererDonneesLineQuantiteInvestitParDate();
                PVM.RecupererDonneesLineValeurPatrimoineParDate();
                PVM.RecupererDonneesPieProportionParActif();

                // 3. Forcer le rafraîchissement de l'UI
                await InvokeAsync(StateHasChanged);
            }
            catch (TaskCanceledException)
            {
                //l'utilisateur a navigué on stop
                break;
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Erreur de rafraîchissement des prix: {ex.Message}");
            }
        }
    }

    public void Dispose()
    {
        detectionChangementPage.Cancel();
        detectionChangementPage.Dispose();
    }
}
