@using Investissement_WebClient.Core.Modeles.DTO
@using Investissement_WebClient.UI.Components.ViewsModels;

@page "/actif"
@rendermode InteractiveServer
@inject IToastService TS
@inject IJSRuntime JS
@inject ActifViewModel AVM

<PageTitle>Actif</PageTitle>

<div class="actif">
    
    <Formulaire AVM="AVM" Soumission="Soumission"></Formulaire>

    <div class="mes-actifs">
        <div class="mes-actifs-header">
            <label>Actifs enregistrés</label>
        </div>

        <div class="mes-actifs-content">
            @if (AVM.ActifsParType.Etfs.Count() != 0)
            {
                <label>ETFs</label>
                <div class="type-actif">
                    @foreach (ActifDto actif in AVM.ActifsParType.Etfs)
                    {
                        <span type="text" class="un-actif @(AVM.ActifASuppr.Contains(actif.Id) ? "active" : null)" @onclick="() => AVM.ChangerEtatSuppression(actif.Id)">@actif.Nom</span>
                    }
                </div>
            }

            @if (AVM.ActifsParType.Cryptos.Count() != 0)
            {
                <label>Cryptos</label>
                <div class="type-actif">
                    @foreach (ActifDto actif in AVM.ActifsParType.Cryptos)
                    {
                        <span type="text" class="un-actif @(AVM.ActifASuppr.Contains(actif.Id) ? "active" : null)" @onclick="() => AVM.ChangerEtatSuppression(actif.Id)">@actif.Nom</span>
                    }
                </div>
            }

            @if(AVM.ActifsParType.Etcs.Count() != 0)
            {
            <label>ETCs</label>
                <div class="type-actif">
                    @foreach (ActifDto actif in AVM.ActifsParType.Etcs)
                    {
                        <span type="text" class="un-actif @(AVM.ActifASuppr.Contains(actif.Id) ? "active" : null)" @onclick="() => AVM.ChangerEtatSuppression(actif.Id)">@actif.Nom</span>
                    }
                </div>
            }

            @if (AVM.ActifsParType.Actions.Count() != 0)
            {
                <label>Actions</label>
                <div class="type-actif">
                    @foreach (ActifDto actif in AVM.ActifsParType.Actions)
                    {
                        <span type="text" class="un-actif @(AVM.ActifASuppr.Contains(actif.Id) ? "active" : null)" @onclick="() => AVM.ChangerEtatSuppression(actif.Id)">@actif.Nom</span>
                    }
                </div>
            }

            @if (AVM.ActifsParType.Obligations.Count() != 0)
            {
                <label>Obligations</label>
                <div class="type-actif">
                    @foreach (ActifDto actif in AVM.ActifsParType.Obligations)
                    {
                        <span type="text" class="un-actif @(AVM.ActifASuppr.Contains(actif.Id) ? "active" : null)" @onclick="() => AVM.ChangerEtatSuppression(actif.Id)">@actif.Nom</span>
                    }
                </div>
            }
        </div>

        @if (AVM.ActifASuppr.Count != 0)
        {
            <div class="mes-actifs-footer">
                <button class="btn-suppr" @onclick="() => Supprimer()">Supprimer</button>
            </div>
        }
    </div>

</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        await AVM.LoadData();
    }
    
    private async Task Soumission()
    {
        if (AVM.SelectedMode == "Ajouter")
        {
            await Ajouter();
        }
        else
        {
            await Editer();
        }
    }
    
    private async Task Ajouter()
    {
        await AVM.Ajouter();

        if (AVM.HasError)
        {
            TS.ShowError(AVM.ErrorMessage);
        }
        else
        {
            TS.ShowSuccess("Actif enregistré avec succès !");
        }
    }
    
    private async Task Editer()
    {
        await AVM.Editer();

        if (AVM.HasError)
        {
            TS.ShowError(AVM.ErrorMessage);
        }
        else
        {
            TS.ShowSuccess("Actif modifié avec succès !");
        }
    }

    private async Task Supprimer()
    {
        if (await JS.InvokeAsync<bool>("confirm", "Voulez-vous vraiment supprimer cet actif ?"))
        {
            await AVM.Supprimer();

            if (AVM.HasError)
            {
                TS.ShowError(AVM.ErrorMessage);
            }
            else
            {
                TS.ShowSuccess("Actif(s) supprimé(s) avec succès !");
            }
        }
    }
}