@using Investissement_WebClient.Core.Modeles
@using Investissement_WebClient.Core.Modeles.DTO
@using Investissement_WebClient.UI.Components.ViewsModels

<EditForm Model="Mode" OnValidSubmit="Soumission">
    <DataAnnotationsValidator />

    <div class="ajout-edit-actif">
        <div class="ajout-edit-actif-header">
            <label>@(ModeAjouter() ? "Enregistrer un actif" : "Modifier un actif")</label>
            <button type="submit" class="btn-ajouter-editer">@AVM.SelectedMode</button>
        </div>

        <div class="ajout-edit-actif-infos">
            <div class="mode">
                <div class="mode-ajout @(ModeAjouter() ? "selected" : "")" @onclick="AVM.ChangeMode">
                    <label>Ajouter</label>
                </div>
                <div class="mode-edit @(ModeAjouter() ? "" : "selected")" @onclick="AVM.ChangeMode">
                    <label>Modifier</label>
                </div>
            </div>
                
            <div class="form-grid">
                @if (ModeAjouter())
                {
                    <label>Disponibles</label>
                    <select value="@AVM.SelectedActif.Id" @onchange="AVM.OnChangeActif">
                        <option value="0" disabled selected>-- Selectionnez un actif --</option>
                        @foreach (var type in AVM.ActifsDisponibles.GroupBy(a => a.Type))
                        {
                            <optgroup label="@type.Key">
                                @foreach (var actif in type)
                                {
                                    <option value="@actif.Id">@actif.Nom</option>
                                }
                            </optgroup>
                        }
                    </select>
                }
                else
                {
                    <label>Enregistrés</label>
                    <select value="@AVM.SelectedActifEdit.Id" @onchange="AVM.OnChangeActifEdit">
                        <option value="0" disabled selected>-- Sélectionnez un actif --</option>
                        @foreach (ActifDto actif in AVM.ActifsEnregistre)
                        {
                            <option value="@actif.Id">@actif.Nom</option>
                        }
                    </select>
                }
            </div>
        </div>

        <div class="ajout-edit-content">
            <InputText @bind-Value="Mode.Nom" placeholder="Nom" />
            <ValidationMessage For="@(() => Mode.Nom)" />

            <InputText @bind-Value="Mode.Symbole" placeholder="Symbole" />
            <ValidationMessage For="@(() => Mode.Symbole)" />

            <InputSelect @bind-Value="Mode.Type">
                <option value="0" disabled selected>-- Sélectionnez un type --</option>
                @foreach (string type in AVM.TypesActif)
                {
                    <option value="@type">@type</option>

                }
            </InputSelect>
            <ValidationMessage For="@(() => Mode.Type)" />

            <InputText @bind-Value="Mode.Isin" placeholder="ISIN" />
            <ValidationMessage For="@(() => Mode.Isin)" />

            <InputSelect @bind-Value="Mode.Risque">
                <option value="0" disabled selected>-- Sélectionnez un niveau de risque --</option>
                @foreach (string niveau in AVM.NiveauxRisqueActif)
                {
                    <option value="@niveau">@niveau</option>

                }
            </InputSelect>
            <ValidationMessage For="@(() => Mode.Risque)" />
        </div>
    </div>
</EditForm>

@code{
    [Parameter] public ActifViewModel AVM { get; set; }
    [Parameter] public EventCallback Soumission { get; set; }

    private bool ModeAjouter()
    {
        return AVM.SelectedMode == "Ajouter";
    }
    
    private ActifDto Mode => ModeAjouter() ? AVM.SelectedActif : AVM.SelectedActifEdit;
}