@using Investissement_WebClient.Core.Modeles
@using Investissement_WebClient.Core.Modeles.DTO
@using Investissement_WebClient.UI.Components.ViewsModels

<EditForm Model="Mode" OnValidSubmit="Soumission">
    <DataAnnotationsValidator />

    <div class="ajout-edit-actif">
        <div class="choix-mode-actif">
            <div class="mode-ajout @(AVM.SelectedMode == "Ajouter" ? "selected" : "")" @onclick="AVM.ChangeMode">
                <label>Ajouter</label>
            </div>
            <div class="mode-edit @(AVM.SelectedMode == "Modifier" ? "selected" : "")" @onclick="AVM.ChangeMode">
                <label>Modifier</label>
            </div>
        </div>

        <div class="ajout-edit-header">
            @if (AVM.SelectedMode == "Ajouter")
            {
                <label>Disponibles</label>
                <select value="@AVM.SelectedActif.Id" @onchange="AVM.OnChangeActif">
                    <option value="0" disabled selected>Selectionner un actif</option>
                    @foreach (ItemDto actif in AVM.ActifsDisponibles)
                    {
                        <option value="@actif.Id">@actif.Nom</option>
                    }
                </select>
            }
            else
            {
                <label>Enregistrés</label>
                <select value="@AVM.SelectedActifEdit.Id" @onchange="AVM.OnChangeActifEdit">
                    <option value="0" disabled selected>Selectionner un actif</option>
                    @foreach (ItemDto actif in AVM.ActifsEnregistre)
                    {
                        <option value="@actif.Id">@actif.Nom</option>
                    }
                </select>
            }
        </div>

        <div class="ajout-edit-content">
            <InputText @bind-Value="Mode.Nom" placeholder="Nom" />
            <ValidationMessage For="@(() => Mode.Nom)" />

            <InputText @bind-Value="Mode.Symbole" placeholder="Symbole" />
            <ValidationMessage For="@(() => Mode.Symbole)" />

            <InputSelect @bind-Value="Mode.Type">
                <option value="" disabled selected>Type</option>
                @foreach (string type in AVM.TypesActif)
                {
                    <option value="@type">@type</option>

                }
            </InputSelect>
            <ValidationMessage For="@(() => Mode.Type)" />

            <InputText @bind-Value="Mode.Isin" placeholder="ISIN" />
            <ValidationMessage For="@(() => Mode.Isin)" />

            <InputSelect @bind-Value="Mode.Risque">
                <option value="" disabled selected>Risque</option>
                @foreach (string niveau in AVM.NiveauxRisqueActif)
                {
                    <option value="@niveau">@niveau</option>

                }
            </InputSelect>
            <ValidationMessage For="@(() => Mode.Risque)" />
        </div>

        <div class="ajout-edit-footer">
            <button type="submit" class="btn">@AVM.SelectedMode</button>
        </div>
    </div>
</EditForm>

@code{
    [Parameter] public ActifViewModel AVM { get; set; }
    [Parameter] public EventCallback Soumission { get; set; }
    
    private IActif Mode => AVM.SelectedMode == "Ajouter" ? AVM.SelectedActif : AVM.SelectedActifEdit;
}