@using System.Globalization
@using Investissement_WebClient.UI.Components.ViewsModels;

@using Investissement_WebClient.Core.Modeles.DTO

@page "/patrimoine"
@rendermode InteractiveServer
@implements IDisposable
@inject IToastService TS
@inject PatrimoineViewModel PVM

<PageTitle>Patrimoine</PageTitle>

<div class="patrimoine">
    <div class="patrimoine-infos">
        <span class="valeur-totale-courante">
            <label>
                @(PVM.ValeurPatrimoineCourante == 0 ? "-----,--" : PVM.ValeurPatrimoineCourante.ToString("C2", CultureInfo.GetCultureInfo("fr-FR")))
            </label>
        </span>
        <div class="variations-prix">
            <span class="variation-prix @PVM.DeterminerSigne(PVM.Variations.VariationPrix24H)">
                <label>24H :</label>
                    @(PVM.Variations.VariationPrix24H == 0 ? "--,--" : @PVM.Variations.VariationPrix24H.ToString("P2",CultureInfo.GetCultureInfo("fr-FR")))
            </span>
            <span class="variation-prix @PVM.DeterminerSigne(PVM.Variations.VariationPrix7J)">
                <label>7J :</label>
                @(PVM.Variations.VariationPrix7J == 0 ? "--,--" : @PVM.Variations.VariationPrix7J.ToString("P2",CultureInfo.GetCultureInfo("fr-FR")))
            </span>
            <span class="variation-prix @PVM.DeterminerSigne(PVM.Variations.VariationPrix1M)">
                <label>1M :</label>
                    @(PVM.Variations.VariationPrix1M == 0 ? "--,--" : @PVM.Variations.VariationPrix1M.ToString("P2",CultureInfo.GetCultureInfo("fr-FR")))
            </span>
            <span class="variation-prix @PVM.DeterminerSigne(PVM.Variations.VariationPrix1A)">
                <label>1A :</label>
                    @(PVM.Variations.VariationPrix1A == 0 ? "--,--" : @PVM.Variations.VariationPrix1A.ToString("P2",CultureInfo.GetCultureInfo("fr-FR")))
            </span>
        </div>
    </div>
    
    <div class="patrimoine-content">
        <div class="patrimoine-candle">
            <ApexChart TItem="BougieJournaliere"
                       XAxisType="XAxisType.Datetime"
                       Options="ChartsOptions.Options">

                <ApexCandleSeries TItem="BougieJournaliere"
                                  Items="PVM.BougiesJournalieres"
                                  Name="Apex Stock Price"
                                  XValue="@(e => e.Date)"
                                  Open="@(e => e.Ouverture)"
                                  High="@(e => e.Haut)"
                                  Low="@(e => e.Bas)"
                                  Close="@(e => e.Fermeture)"
                                  OrderByDescending="e => e.X"/>
            </ApexChart>
        </div>
        
        <div class="patrimoine-pies">
            
        </div>
    </div>
</div>

@code {
    private CancellationTokenSource _cts = new();
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _ = LoadData(_cts.Token); //on lance en arrière plan (si on utilisait await ca bloquerait la fonction)
            await PVM.LoadBougieJournalieres();
        }

        if (PVM.HasError)
        {
            TS.ShowError(PVM.ErrorMessage);
            PVM.HasError = false;
        }
    }

    private async Task LoadData(CancellationToken stoppingToken)
    {
        try
        {
            while (!stoppingToken.IsCancellationRequested)
            {
                await PVM.LoadData();
                StateHasChanged();
            
                await Task.Delay(TimeSpan.FromMinutes(1), stoppingToken);
            } 
        }
        catch(OperationCanceledException){ Console.WriteLine("Arret du chargement de la valeur du patrimoine"); }
    }
    
    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose(); 
    }
}
