@using System.Globalization
@using Investissement_WebClient.UI.Components.ViewsModels;

@using ApexCharts
@using Investissement_WebClient.Core.Modeles.DTO

@page "/patrimoine"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject PatrimoineViewModel PVM

<PageTitle>Patrimoine</PageTitle>

<div class="patrimoine">
    <div class="patrimoine-infos">
        <span class="valeur-totale-courante">
            <label>
                @(PVM.ValeurPatrimoineCourante == 0 ? "-----,--" : PVM.ValeurPatrimoineCourante.ToString("C2", CultureInfo.GetCultureInfo("fr-FR")))
            </label>
        </span>
        <div class="variations-prix">
            <span class="variation-prix @PVM.DeterminerSigne(PVM.Variations.VariationPrix24H)">
                <label>24H :</label>
                    @(PVM.Variations.VariationPrix24H == 0 ? "--,--" : @PVM.Variations.VariationPrix24H.ToString("P2",CultureInfo.GetCultureInfo("fr-FR")))
            </span>
            <span class="variation-prix @PVM.DeterminerSigne(PVM.Variations.VariationPrix7J)">
                <label>7J :</label>
                @(PVM.Variations.VariationPrix7J == 0 ? "--,--" : @PVM.Variations.VariationPrix7J.ToString("P2",CultureInfo.GetCultureInfo("fr-FR")))
            </span>
            <span class="variation-prix @PVM.DeterminerSigne(PVM.Variations.VariationPrix1M)">
                <label>1M :</label>
                    @(PVM.Variations.VariationPrix1M == 0 ? "--,--" : @PVM.Variations.VariationPrix1M.ToString("P2",CultureInfo.GetCultureInfo("fr-FR")))
            </span>
            <span class="variation-prix @PVM.DeterminerSigne(PVM.Variations.VariationPrix1A)">
                <label>1A :</label>
                    @(PVM.Variations.VariationPrix1A == 0 ? "--,--" : @PVM.Variations.VariationPrix1A.ToString("P2",CultureInfo.GetCultureInfo("fr-FR")))
            </span>
        </div>
    </div>
    
    <div class="patrimoine-content">
        <div class="patrimoine-candle">
            <ApexChart TItem="ValeurPatrimoine"
                       XAxisType="XAxisType.Datetime"
                       Options="ChartsOptions.Options">

                <ApexCandleSeries TItem="ValeurPatrimoine"
                                  Items="PVM.ValeursPatrimoine"
                                  Name="Apex Stock Price"
                                  XValue="@(e => e.Date)"
                                  Open="@(e => e.Open)"
                                  High="@(e => e.High)"
                                  Low="@(e => e.Low)"
                                  Close="@(e => e.Close)"
                                  OrderByDescending="e => e.X"/>
            </ApexChart>
        </div>
        
        <div class="patrimoine-pies">
            
        </div>
    </div>
    
    <div class="patrimoine-footer">
        
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await PVM.LoadData();
            StateHasChanged();
        }

        if (PVM.HasError)
        {
            await JS.InvokeVoidAsync("alert", PVM.ErrorMessage);
        }
    }
}
